# --- Dependencias (Node/Angular/React) ---
**/node_modules/

# --- Caché y Builds (Angular/React/Next) ---
**/.angular/
**/dist/
**/build/
**/out/
**/.next/

# --- Editores e IDEs ---
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Sistema ---
.DS_Store
Thumbs.db

# --- Logs y Temporales ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Archivos de entorno (Seguridad) ---
.env
.env.local
.env.*.local